.home {
  max-height: 100vh;
  position: relative;
  overflow-y: hidden;
}

.home_h1 {
  font-family: $mainFont;
  text-transform: uppercase;
  font-size: 6rem;
  position: absolute;
  letter-spacing: 3rem;
  top: 23rem;
  left: 9rem;
}
.home_h1_1,
.home_h1_2 {
  display: inline;
}
.home_h1_1 {
  color: $mainColor;
}
.home_h1_2 {
  color: $secondaryColor;
  z-index: 8;
}

.home_h2 {
  font-family: $secondaryFont;
  color: $detailsColor;
  font-size: 4rem;
  position: absolute;
  top: 39rem;
  left: 55rem;
}
.home_container {
  @include flex(space-between, center, row);
}
.home_whitebg {
  background-color: $secondaryColor;
  flex: 1;
}
.home_mainImageContainer {
  flex: 3;
  display: block;
  background-color: $mainColor;
  z-index: -2;
}

.home_mainImage {
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.home_footer {
  position: absolute;
  width: 100vw;
  bottom: -2rem;
}

.home_footerButton {
  font-family: $secondaryFont;
  font-size: 3rem;
  background-color: rgba($color: #ffffff, $alpha: 0);
  color: $secondaryColor;
  position: absolute;
  top: 11rem;
  left: 12rem;
  z-index: 2;
}
