.timer {
  z-index: 0;
  height: 100vh;
  background-image: url("../public/bg.svg");
  position: relative;
  @include flex(start, center, column);
}
.timer_star74,
.timer_star53,
.timer_star32,
.timer_star49,
.timer_star59,
.timer_star69,
.timer_star79 {
  position: absolute;
}
.timer_star74 {
  top: 10rem;
  right: 16rem;
  animation: stars 0.7s ease-in-out infinite alternate;
}
.timer_star53 {
  top: 30rem;
  left: 27rem;
  animation: stars 0.9s ease-in-out infinite alternate;
}
.timer_star32 {
  top: 31rem;
  right: 45rem;
  animation: stars 0.6s ease-in-out infinite alternate;
}

/* stars with conditions */

.timer_star49 {
  top: 59rem;
  left: 15rem;
  animation: stars 0.7s ease-in-out infinite alternate;
}
.timer_star59 {
  bottom: 30rem;
  right: 43rem;
  animation: stars 0.8s ease-in-out infinite alternate;
}
.timer_star69 {
  top: 18rem;
  left: 56rem;
  animation: stars 0.8s ease-in-out infinite alternate;
}
.timer_star79 {
  bottom: 36rem;
  left: 53rem;
  animation: stars 0.8s ease-in-out infinite alternate;
}
.manPlanet {
  margin-bottom: 12rem;
  position: relative;
  width: 47rem;
  svg {
    width: 100%;
  }
  #saturn {
    animation: updown 1s ease-in-out infinite alternate;
    
  }
  #man {
    animation: updown 1.5s ease-in-out infinite alternate;

  }
  #earth {
    animation: updown 0.8s ease-in-out infinite alternate;

  }
  #moon {
    animation: updown 2s ease-in-out infinite alternate;
  }
}

/* TIMER IS OFF */
.timer_group {
  width: 70%;
  @include flex(center, center, column);
  row-gap: 1rem;
}
.timer_text {
  font-family: $secondaryFont;
  font-size: 2.8rem;
}
.timer_bar {
  width: 100%;
  @include flex(center, center, row);
  column-gap: 1rem;
}
.dot {
  height: 3rem;
  width: 3rem;
  background-color: $secondaryColor;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 20%;
}
/* .timer_text:nth-child(2){
  position: absolute;
  left: 120%;
  font-size:2.3rem;
} */

@keyframes updown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(5rem);
  }
}

@keyframes stars {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* TIMER IS ON */
.clock {
  @include flex(center, center, row);
  text-align: center;
  column-gap: 1rem;
  width: 70%;
}
.clock_num {
  @include flex(center, center, row);
  font-family: $secondaryFont;
  font-size: 8rem;
  width: fit-content;
}
.clock_num:nth-child(2) {
  align-self: start;
  padding-bottom: 3rem;
}
.clock_text {
  font-family: $secondaryFont;
  font-size: 2rem;
}

// range

input[type="range"] {
  width: 70%;
  margin: 0px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  background: rgba(0, 0, 0, 0.2);
  border: 0px solid rgba(0, 0, 0, 0);
  border: 0;
  border-radius: 15px;
  width: 100%;
  height: 30px;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
  margin-top: 0px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 0px solid rgba(0, 0, 0, 0);
  border: 0;
  border-radius: 15px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #050505;
}
input[type="range"]::-moz-range-track {
  background: rgba(0, 0, 0, 0.2);
  border: 0px solid rgba(0, 0, 0, 0);
  border: 0;
  border-radius: 15px;
  width: 100%;
  height: 30px;
  cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 0px solid rgba(0, 0, 0, 0);
  border: 0;
  border-radius: 15px;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 0px 0;
  color: transparent;
  width: 100%;
  height: 30px;
  cursor: pointer;
}
input[type="range"]::-ms-fill-lower {
  background: #000000;
  border: 0px solid rgba(0, 0, 0, 0);
  border: 0;
  border-radius: 30px;
}
input[type="range"]::-ms-fill-upper {
  background: rgba(0, 0, 0, 0.2);
  border: 0px solid rgba(0, 0, 0, 0);
  border: 0;
  border-radius: 30px;
}
input[type="range"]::-ms-thumb {
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 0px solid rgba(0, 0, 0, 0);
  border: 0;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 0px;
}
input[type="range"]:focus::-ms-fill-lower {
  background: rgba(0, 0, 0, 0.2);
}
input[type="range"]:focus::-ms-fill-upper {
  background: #050505;
}

/* range track */
input[type="range"] {
  width: 70%;
  margin: 0px 0;
  background-color: transparent;
  -webkit-appearance: none;
  position: relative;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  background: rgba(0, 0, 0, 0.2);
  border: 0px solid rgba(0, 0, 0, 0);
  border: 0;
  border-radius: 15px;
  width: 100%;
  height: 30px;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
  margin-top: 0px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 0px solid rgba(0, 0, 0, 0);
  border: 0;
  border-radius: 15px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #050505;
}
input[type="range"]::-moz-range-track {
  background: rgba(0, 0, 0, 0.2);
  border: 0px solid rgba(0, 0, 0, 0);
  border: 0;
  border-radius: 15px;
  width: 100%;
  height: 30px;
  cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 0px solid rgba(0, 0, 0, 0);
  border: 0;
  border-radius: 15px;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 0px 0;
  color: transparent;
  width: 100%;
  height: 30px;
  cursor: pointer;
}
input[type="range"]::-ms-fill-lower {
  background: #000000;
  border: 0px solid rgba(0, 0, 0, 0);
  border: 0;
  border-radius: 30px;
}
input[type="range"]::-ms-fill-upper {
  background: rgba(0, 0, 0, 0.2);
  border: 0px solid rgba(0, 0, 0, 0);
  border: 0;
  border-radius: 30px;
}
input[type="range"]::-ms-thumb {
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 0px solid rgba(0, 0, 0, 0);
  border: 0;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type="range"]:focus::-ms-fill-lower {
  background: rgba(0, 0, 0, 0.2);
}
input[type="range"]:focus::-ms-fill-upper {
  background: #050505;
}
